.home-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
}

.home-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 40px;
}

@media screen and (max-width: 868px) {
  .home-content-grid {
    grid-template-columns: 1fr;
  }
}
